*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    display: flex;  
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url(../images/home.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    
  &-text {
    font-family: sans-serif;
    margin-top: 15%;
    font-size: 20px;
    text-align: center;
}

}   

.button{
    color: aqua ;
    border-radius: 6px;
    padding: 10px 40px;
    margin-top: 20px;
    line-height: 24px;
    border: 1px solid aqua;
}